include includes/head1
title 注册 - #{siteName}
link(rel='stylesheet', href=cdn + '/css/reg.styles.css?' + version)
include includes/head2
include includes/browser-alert
#container
#content-loading
	.spinner
		.bounce1
		.bounce2
		.bounce3

include includes/footer-js
script(src=cdn + '/_bc/moment/min/moment.min.js' + '?' + version)
script(src=cdn + '/_bc/moment/locale/zh-cn.js' + '?' + version)
script(onload='window.sugo.onload()', src=cdn + '/js/reg.bundle.js' + '?' + version)
include includes/footer-end